@charset "UTF-8";
body{
    /* background-color:#ffffff;
    background-image:url(images/background1.png);
    background-repeat:repeat;
    background-size:cover;
    background-position:center top; */
    background:#ffffff url(images/background2.jpeg) center top/cover;
}
h1{
    background-color:#32a84c;
    color:#0bd;
    font-family:"游ゴシック体","Yu Gothic",Yugothic,sans-serif;
    /* line-height:15.0; */
    text-align:center;
    border-width:thick;
    border-style:dashed;
    border-color:#000000;
}
div p{
    background-color:#0bd;
    font-size:20px;
    font-family: "Playwrite CU Guides", cursive;
    font-weight: 400;
    font-style: normal;
    line-height:2.0;
    width:500px;
    margin:100px 10px 10px 100px;
    padding:50px;
    border-bottom:medium dashed #000;
}
div ul{
    background-color:#fff;
    width:100px;
    padding:20px;
    border:medium solid #000;
    list-style-type:decimal;
    list-style-position:inside;
}
.blue{
    color:blue;
}
#orange{
    color:orange;
}
.item{
    background:#0bd;
    color:#fff;
    margin:10px;
    padding:10px;
}
.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    height:100vh;
}