@charset "UTF-8";
.container{
    display:grid;
    /* grid-template-columns:200px 200px 200px; */
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:200px 200px 200px; 
    gap:10px;
}
.item{
    background:#0bd;
    color:#fff;
    padding:10px;
}
.box{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.item{
    background-color:#aef;
    color:#000;
    margin:1rem;
    padding:2rem;
    width:400px;
}